html,
body {
  /*display: flex;*/
  /*justify-content: space-between;  주축(가로) 정렬*/
  /*align-items: center;  교차축(세로) 정렬*/
  height: 100%;
}
/* 공간에 요소를 맞추어 배치한다. */

body {
  display: flex;
  flex-direction: column;
  /* 주축을 세로방향으로 변경함 */
  /* justify-content: center; */
  justify-content: flex-end;
}

div {
  width: 200px;
  height: 200px;
  background-color: tomato;
}

#second {
  background-color: seagreen;
}
